body {
    background: url(to-heaven.gif);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    color: #fff;
    background-color: aqua;
    margin: 0;
    overflow: hidden;
    cursor: crosshair;
}

#temporary-portal-logo {
    position: static;
    mix-blend-mode: exclusion;
    color: orangered;
}

.cursor::before {
    position: absolute;
    content: "TEMPORARY... \A RESEARCH, DEVELOPMENT, \A & PUBLISHING PRACTICE... \A\A CLICK ANYWHERE TO \A ENTER THE PORTAL... \A THANK U FOR VISITING...";
    white-space: pre-wrap;

    font-family: sans-serif;
    font-size: 3.5em;
    text-align: center;
    line-height: 1em;
    word-spacing: -.075em;

    color: springgreen;
    text-shadow: 0 0 20px blueviolet, 0 0 30px blueviolet, 0 0 40px blueviolet, 0 0 50px blueviolet;
