<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/styles/styles.css" />
    </head>
    <body>
        <header>
            <strong><a href="../index.html">home</a> / <a href="#">{{page-title}}</a></strong>
        </header>

        <p>{{page-description}}</p>

        <ul>
            {{#page-links}}
            <li><a href="{{link-url}}">{{link-title}}</a></li>
            {{/page-links}}
        </ul>
        
        <img src="assets/images/{{page-image}}">
    </body>
</html>